:root{
    /* COLORS: */
    --color-main: #00FFFF;
    --color-main-lighter: #aaffff;
    /* Color black native */
    --color-black-bg: #1e2128;
    --color-gray-text: #bdc1ca;
    --color-gray-bg: #9da1aa;
    --color-gray-border: #323743;

    --color-blue-background: rgba(13, 127, 242, 10%);
    --color-blue-border: rgba(13, 127, 242, 50%);
    --color-blue-text: #0D7FF2;
    
    /* Verde (Success / Low Priority) */
    --color-green-background: rgba(34, 197, 94, 0.1);
    --color-green-border: rgba(34, 197, 94, 0.5);
    --color-green-text: #22C55E;

    /* Rojo (Danger / High Priority) */
    --color-red-background: rgba(239, 68, 68, 0.1);
    --color-red-border: rgba(239, 68, 68, 0.5);
    --color-red-text: #EF4444;
    --color-danger: #E05252;

    /* Amarillo (Warning / Medium Priority) */
    --color-yellow-background: rgba(234, 179, 8, 0.1);
    --color-yellow-border: rgba(234, 179, 8, 0.5);
    --color-yellow-text: #EAB308;


    /* Gray */
    --color-gray-background: rgba(156, 163, 175, 0.1);
    --color-gray-border-tag: rgba(156, 163, 175, 0.5);
    --color-gray-text: #9CA3AF;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: black;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

nav{
    padding: 1rem;
    border-bottom: 1px solid var(--color-gray-border);
}

.logo{
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 36px;
    height: 36px;
    background-color: var(--color-main);
}

.logo span{
    padding: 1rem;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.searchBar{
    justify-content: left;
}

.searchBar input {
    width: 100%;
    border: 1px solid var(--color-gray-border);
    background-color: var(--color-black-bg);
    border-radius: 16px;
    padding: 1rem;
}

.filterSelector{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filterSelector .filterButton{
    font-weight: bold;
    transition: all 0.3s ease-out;
    color: white;
    background-color: var(--color-black-bg);
    cursor: pointer;
    border: 1px solid var(--color-gray-border);
    border-radius: 16px;
    min-width: 73px;
    padding: 6px 12px;
}

.filterButton.active{
    transition: all 0.3s ease-in;
    background-color: var(--color-main);
    color: black;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
}

button:active {
  transform: none;
}

.cardsSection{
    padding-bottom: 2rem;
    overflow: auto;
    scrollbar-width: none;
}

.grid{
    scrollbar-width: none;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.card{
    cursor: pointer;
    min-width: 216px;
    min-height: 364px;
    max-width: 560px;
    width: 100%;
    color: var(--color-gray-text);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 15px 25px;
    border-radius: 16px;
    border: 1px solid var(--color-gray-border);
    background-color: var(--color-black-bg);
    color: white;
}

.card .cardHeader{
    display: flex;
    justify-content: right;
}

.card .status{
    font-size: 14px;
    font-weight: bold;
    color: var(--color-blue-text);
    padding: 3px 12px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    background-color: var(--color-blue-background);
    border: 1px solid var(--color-blue-border);
}

.description{
    font-size: 14px;
    color: var(--color-gray-text);
}

.importantSection{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.dueSection{
    color: var(--color-gray-text);
    font-size: 14px;
}

.dueSection span{
    font-size: 14px;
}

.priority{
    color: var(--color-gray-text);
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2px;
    font-size: 12px;
}

.priority.Low{
    color: var(--color-gray-text);
}

.priority.Medium{
    color: var(--color-yellow-text);
}

.priority.High{
    color: var(--color-danger);
}

.progressBar{
    --progress: 50%; 
  
    background: linear-gradient(
        to right, 
        var(--color-main) 0%, 
        var(--color-main) var(--progress), 
        var(--color-main-lighter) var(--progress), 
        var(--color-main-lighter) 100%
    );

    border-radius: 16px;
    width: 100%;
    height: 10px;
    background-color: line;
    margin-bottom: 1rem;
}

.cardProgress{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.topSection{
    color: var(--color-gray-text);
    display: flex;
    justify-content: space-between;
}

#newTaskButton{
    width: 50px;
    height: 50px;
    background-color: var(--color-main);
    color: black;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}


#newTaskButton:hover{
    opacity: 0.9;
}

#newTaskButton:active{
    opacity: 1.1;
}

.overlay{
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(50, 55, 67, 0.1);
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    transition: all 1s ease-out;

    /* For centering the taskFormDiv */
    justify-content: center;
    align-items: center;
}

.overlay .taskFormDiv{
    position: relative;
}

.taskFormDiv span{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.overlay.active{
    transition: all 0.3s ease-in;
    display: flex;
}

.overlay .taskFormDiv{
    transition: all 0.3s ease-in;
    border-radius: 16px;
    background-color: var(--color-black-bg);
    border: 1px solid var(--color-gray-border);
    color: var(--color-gray-text);
    padding: 2rem;
}

.taskFormDiv h1{
    margin-bottom: 2rem;
}

.taskForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.taskForm textarea, .taskForm input, .taskForm button{
    resize: none;
    color: black;
    background-color: var(--color-gray-bg);
    border: 1px solid var(--color-gray-border);
    border-radius: 16px;
    padding: 10px;
}

.taskForm .inputGroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.statusButton{
    transition: box-shadow 0.3s ease-out;
    box-shadow: none;
    border-radius: 16px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
}

.selector .statusButton.active{
    transition: box-shadow 0.3s ease-in;
    box-shadow: 0 2px 6px white;
}

.selector .statusButton:hover{
    opacity: 0.9;
}

.selector .statusButton:active{
    opacity: 1.1;
}

.statusButton.pendingStatus{
    background-color: var(--color-gray-background);
    border: 1px solid var(--color-gray-border);
    color: var(--color-gray-text);
}

.statusButton.inProgressStatus{
    background-color: var(--color-blue-background);
    border: 1px solid var(--color-blue-border);
    color: var(--color-blue-text);
}

.statusButton.completedStatus{
    background-color: var(--color-green-background);
    border: 1px solid var(--color-green-border);
    color: var(--color-green-text);
}

.selector{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.selector .priorityButton{
    transition: box-shadow 0.3s ease-out;
    box-shadow: none;
    border-radius: 16px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
}

.selector .priorityButton.active{
    transition: box-shadow 0.3s ease-in;
    box-shadow: 0 2px 6px white;
}

.selector .priorityButton:hover{
    opacity: 0.9;
}

.selector .priorityButton:active{
    opacity: 1.1;
}

.selector .priorityButton.lowPriority{
    background-color: var(--color-gray-background);
    border: 1px solid var(--color-gray-border);
    color: var(--color-gray-text);
}

.selector .priorityButton.mediumPriority{
    background-color: var(--color-yellow-background);
    border: 1px solid var(--color-yellow-border);
    color: var(--color-yellow-text);
}

.selector .priorityButton.highPriority{
    background-color: var(--color-red-background);
    border: 1px solid var(--color-red-border);
    color: var(--color-red-text);
}

.formActions{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.formActions .formButton{
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 16px;
}

.formActions .submitButton{
    background-color: var(--color-main);
}

.formActions button:hover{
    opacity: 0.9;
}

.formActions button:active{
    background-color: var(--color-main-lighter);
}

